{# Base template. #}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="IE=Edge" http-equiv="X-UA-Compatible">

    <link href="//fonts.googleapis.com/css?family=Roboto:100,300,400,500,700|Google+Sans:400,500|Product+Sans:400&amp;lang=en" rel="stylesheet">
    <link rel=stylesheet type=text/css href="{{url_for('static', filename='main.min.css')}}">
  </head>
  <body class="body">
    <main class="container">
      {% block body %}{% endblock %}
    </main>
    <script defer src="{{url_for('static', filename='main.min.js')}}"></script>
  </body>
</html>
